/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
  background-color: black;
}

body{
  background-color: black;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

   h1{
    font-family: 'Coda Caption', sans-serif;
    color: #CB99CC;
    font-size: 48px;
    line-height: 76px;
   }

   p{
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 31px;
    color: #FFCC9A;
    font-family: 'IBM Plex Mono', monospace;
   }

   a, a:hover {
    color: #FFCC9A;
   }

  .just-ai-btn{
    font-family: 'Coda Caption', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 38px;
    align-items: center;
    color: #FFCC9A;
    background: #9A99FF;
    opacity: 0.8;
    border: 2px solid #FFCC9A;
    box-shadow: 4px 4px 0px #FF9A66;
    padding: 6px 15px;
    margin-bottom: 10px;
  }

  #tooltip {
    font-size: 12px;
    color: #FFCC9A;
    font-family: 'IBM Plex Mono', monospace;
    position: absolute;
    opacity: 0;
    padding-top: 0px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 20px;

    border: 2px solid #9A99FF;
    background-color: #363636;

    border-radius: 8px;
    pointer-events: none;
  }

 #wheel-container{
  max-width: 1060px;
  max-height: 700px;
  min-width:940px;
  min-height:480px;
  position: relative;
  padding-top: 50%;
  width: 100%;
  display: inline-block;
 }

 .fingerprint-container{
  min-width: 500px;
  min-height: 500px;
  position: relative;
  padding-top: 100%;
  width: 100%;
  display: inline-block;
 }

 svg{
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
 }

 #fingerprint{
  min-width: 500px;
  min-height: 500px;
  padding-top: 100%;
  width: 100%;
  display: inline-block;
 }

 .accordion-button{
  background-color: black;
  font-family: Coda Caption;
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 38px;
  color: #FFCC9A;
 }

 .accordion-button::after{
  margin-left: 20px;
  width: 48px;
  height: 48px;
  background-size: 48px;
  color: #CB99CC;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23CB99CC'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
 }

 .accordion-button:not(.collapsed)::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23CB99CC'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
  transform: rotate(-180deg);
  }

 .accordion-button:not(.collapsed){
  color: #FFCC9A;
  background-color: black;
 }

 .accordion-body{
  background-color: black;
 }

 .relative {
 position: relative;
}

.error-msg{
  position: absolute;
  left: 50%;
  top: 0;
  margin-left: -50%;
  height: 100%;
  width: 100%;
}

.error-msg .row{
  background-color: black;
  border: 2px #FFCC9A solid;
  padding: 20px 0px;
}
.error-msg p {
  color: gray;
  text-align: center;
  font-size: 24px;
  line-height: 31px;
  color: #FFCC9A;
  font-family: 'IBM Plex Mono', monospace;
}

.error-msg-content{
  margin-top: 25%;
}

.spin{
  text-align: center;
  font-size: 100px;
  color: #FFCC9A;
}

.spin:before{
  animation-name: spin;
  animation-duration: 4000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@-ms-keyframes spin {
    from { -ms-transform: rotate(0deg); }
    to { -ms-transform: rotate(360deg); }
}
@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

 @media (max-width: 992px) {
   .fingerprint-container{
    width: 500px;
    height: 500px;
   }

   #fingerprint{
    width: 500px;
    height: 500px;
    padding-top: 0%;
   }

   svg{
   }
 }

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}
